# allow open secrets for trusted binary
# sudo fapolicyd-cli -f {add,delete,update} {path}
# https://manpages.debian.org/testing/fapolicyd/fapolicyd-cli.8.en.html

#allow perm=open exe=/opt/abc/bin/secret-node trust=1 : dir=/dir/.keys/
#allow perm=open exe=/opt/sui/bin/secret-node trust=1 : path=/dir/.keys/secret.key
